SISTEMA/profac-app/storage/logs/laravel.log
SISTEMA/profac-app/storage/logs/laravel.log
SISTEMA/profac-app/node_modules
SISTEMA/profac-app/vendor
SISTEMA/profac-app/public/documentos_ventas

SISTEMA/profac-app/node_modules
SISTEMA/profac-apppublic/hot
SISTEMA/profac-app/public/storage
SISTEMA/profac-app/storage/*.key

SISTEMA/profac-app/.env
SISTEMA/profac-app/.env.backup
SISTEMA/profac-app/.phpunit.result.cache
SISTEMA/profac-app/docker-compose.override.yml
SISTEMA/profac-app/Homestead.json
SISTEMA/profac-app/Homestead.yaml
SISTEMA/profac-app/npm-debug.log
SISTEMA/profac-app/yarn-error.log
/.idea
/.vscode

